<!DOCTYPE html>
<html lang="hu">
<title>Válassz egy kvízt!</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<head>
    <title>Válassz egy kvízt!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
</head>
<body>
<div class="container">

    <h1>Válassz egy kvízt!</h1>

    <hr>


    <div class="row">
      <% quizes.forEach(function (quiz) { %>
        <a href="/quiz/<%= quiz._id %>">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="" alt="...">
                    <div class="caption">
                        <h3><%= quiz.name %></h3>
                    </div>
                </div>
            </div>
        </a>
      <% }) %>
    </div>
</div>
</body>
</html>